<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Dashboard</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        #dashboard {
            display: flex;
            justify-content: space-around;
        }

        .stat-container {
            text-align: center;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 10px;
            width: 200px;
        }

        .image {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="dashboard">
    <div id="ticketCount" class="stat-container">
        <h2>Tickets</h2>
        <p id="ticketCountValue">0</p>
    </div>
    <div>
        <img class="image" src="{{ url_for('static', filename='logo.jpg') }}" alt="Your Image" align="center">
    </div>
    <div id="totalAmount" class="stat-container">
        <h2>Total Amount</h2>
        <p id="totalAmountValue">0.00 CHF</p>
    </div>
</div>
<div>
    <h1 align="center">Historique des tickets</h1>
    <table id="tickets" border="1" align="center">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les lignes du tableau seront ajoutées ici dynamiquement -->
        </tbody>
    </table>
</div>

<script>
var eventSource = new EventSource('http://127.0.0.1:5001/tickets');
var ticketCountValue = document.getElementById('ticketCountValue');
var totalAmountValue = document.getElementById('totalAmountValue');

var ticketCount = 0;
var totalAmount = 0;
var selectedEvent = 'ticket_created'; // Set the desired event name here

function updateDashboard() {
    ticketCount = 0;
    totalAmount = 0;

    // Update the displayed values
    ticketCountValue.textContent = ticketCount;
    totalAmountValue.textContent = totalAmount.toFixed(2)+" CHF";
}

function ajouterTicket(eventData) {
    var tbody = document.getElementById('tickets').getElementsByTagName('tbody')[0];

            
            var newRow = tbody.insertRow();

            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);

            cell1.innerHTML = eventData.details.ticket.event;
            cell2.innerHTML = eventData.details.ticket.sessions[0].date;
            cell3.innerHTML = eventData.details.ticket.sessions[0].location.street + ', ' + eventData.details.ticket.sessions[0].location.postcode + " " + eventData.details.ticket.sessions[0].location.city;
            cell4.innerHTML = eventData.details.ticket.type; 
            cell5.innerHTML = eventData.details.ticket.price.amount;
}

eventSource.onmessage = function(event) {
    var eventData = JSON.parse(event.data);

    // Check if the received event matches the selected event
    if (eventData.event === selectedEvent) {
        ticketCount += 1; // Assuming one ticket is created per event
        totalAmount += parseFloat(eventData.details.ticket.price.amount);

        // Update the displayed values
        ticketCountValue.textContent = ticketCount;
        totalAmountValue.textContent = totalAmount.toFixed(2)+" CHF";
        ajouterTicket(eventData);
    }
};

eventSource.onopen = function(event) {
    console.log('Connection opened');
};

eventSource.onerror = function(event) {
    console.error('Error occurred:', event);
};
</script>

</body>
</html>
